#subs-table .btn-primary:before {
  content:'Click for details';
}
#subs-table .btn-primary[aria-expanded="true"]:before {
  content:'Close Details';
}
/* Styling of the collapsible row */
#subs-table td.collapse-row {
  border-style: none;
  padding: 0;
}
